<div class="dash-navbar" ng-include="'components/navbar/navbar.html'"></div>
<div class="dashboard-container">
  <div class="sidenav hidden-xs visible-sm-block visible-md-block visible-lg-block">
    <ul class="nav nav-stacked">
      <li><span>Files</span></li>
      <li><span>Shared</span></li>
      <li><span>Recent docs</span></li>
      <li><span>Photos</span></li>
    </ul>
  </div>
  <div class="main">
    <div class="controls">
      <div class="hidden-xs visible-sm-block visible-md-block visible-lg-block">
        <button ng-click="dash.add()" class="button button-action button-longshadow-right button-medium"><i class="fa fa-upload"></i></button>
        <button ng-show="dash.selectedCount > 0" class="button button-medium"><i class="fa fa-share"></i></button>
        <button ng-click="dash.delete()" ng-show="dash.selectedCount > 0" class="button button-medium"><i class="fa fa-trash"></i></button>
        <button ng-click="dash.edit()" ng-show="dash.selectedCount === 1" class="button button-medium"><i class="fa fa-edit"></i></button>
      </div>
      <div class="visible-xs-block hidden-sm hidden-md hidden-lg">
        <button ng-click="dash.add()" class="button button-action button-longshadow-right button-small"><i class="fa fa-upload"></i></button>
        <button ng-show="dash.selectedCount > 0" class="button button-small"><i class="fa fa-share"></i></button>
        <button ng-click="dash.delete()" ng-show="dash.selectedCount > 0" class="button button-small"><i class="fa fa-trash"></i></button>
        <button ng-click="dash.edit()" ng-show="dash.selectedCount === 1" class="button button-small"><i class="fa fa-edit"></i></button>
      </div>
    </div>
    <div class="grid-container">
      <div ui-grid="dash.gridOptions" class="myGrid" ui-grid-selection>

      </div>
    </div>

  </div>
</div>

